
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #fffdf8, #f8f4e8);
    color: #333;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav h2 {
    color: #c59d1d;
    font-size: 30px;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    transition: .3s;
}

nav a:hover {
    color: #c59d1d;
}

/* HERO */

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
        linear-gradient(135deg,#fdf6dc,#fff);
    text-align: center;
    padding: 30px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.hero span {
    color: #c59d1d;
}

.hero p {
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 30px;
}

.button {
    text-decoration: none;
    background: #c59d1d;
    color: white;
    padding: 15px 35px;
    border-radius: 40px;
    transition: .3s;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.08);
    background: #a88410;
}

/* CARDS */

.card {
    width: 85%;
    max-width: 900px;
    margin: 50px auto;
    padding: 35px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card h2 {
    color: #c59d1d;
    margin-bottom: 20px;
}

/* SKILLS */

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tags span {
    background: #f7e5a5;
    color: #6d5500;
    padding: 10px 18px;
    border-radius: 25px;
    font-weight: 600;
}

/* PROJECT */

.project {
    margin-top: 20px;
    padding: 20px;
    border-left: 5px solid #c59d1d;
    background: #fffdf5;
    border-radius: 10px;
}

/* CONTACT */

#contact p {
    margin: 12px 0;
    font-size: 17px;
}

/* FOOTER */

footer {
    margin-top: 60px;
    background: #c59d1d;
    color: white;
    text-align: center;
    padding: 25px;
}

/* MOBILE */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:38px;
    }

    .hero p{
        font-size:17px;
    }

}




